* {
  box-sizing: border-box;
  border-radius: 10px;
  padding: 20px;
  font-family: monospace;
  font-size: 20px;
}
body {
  background-color: rgb(233, 70, 70);
}
h1 {
  text-align: center;
}
.contenedor {
  border: 2px solid rgb(255, 252, 252);
  max-width: 40%;
  margin: auto;
  padding: 30px;
  background-color: rgb(221, 132, 132);
}
label {
  display: block;
  margin: 5px auto;
}
.operaciones {
  margin: 5px auto;
  max-width: 500px;
}
input {
  width: 100%;
}
#operadores {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
  justify-content: center;
  align-items: center;
  max-height: 220px;
}
button:hover{
    background-color: rgb(255, 37, 37);
}
button {
  max-height: 80px;
  cursor: pointer;
}
#total {
  grid-column: span 2;
}
